### Data cleaning

In [135]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [136]:
data= pd.read_excel('the-most-important-issues-facing-the-country.xlsx',sheet_name='All adults')
print(data)

                        Issues  2011-11-01  2012-11-06  2013-11-05  \
0                       Health        0.23        0.27        0.26
1         Immigration & Asylum        0.48        0.46        0.55
2                        Crime        0.24        0.21        0.13
3                  The economy        0.80        0.74        0.63
4                          Tax        0.11        0.18        0.11
5                     Pensions        0.23        0.22        0.15
6                    Education        0.12        0.16        0.14
7      Family life & childcare        0.08        0.10        0.07
8                      Housing        0.00        0.00        0.15
9              The environment        0.07        0.09        0.07
10      Britain leaving the EU        0.29        0.19        0.13
11                   Transport        0.02        0.04        0.04
12            Welfare benefits        0.00        0.00        0.30
13        Defence and security        0.00        0.00        0.00
14               None of these        0.00        0.00        0.00
15                  Don't know        0.00        0.00        0.00
16                 Afghanistan        0.04        0.06        0.00
17       Defence and Terrorism        0.00        0.00        0.00
18  Don't know / None of these        0.03        0.02        0.04
19             Unweighted base     1673.00     1816.00     1876.00
20                        Base     1673.00     1816.00     1876.00

    2014-11-11  2015-12-18  2016-11-01  2017-11-28  2018-11-05  2019-11-04  \
0         0.39        0.39        0.33        0.42        0.37        0.38
1         0.55        0.63        0.47        0.32        0.27        0.23
2         0.10        0.11        0.10        0.12        0.24        0.26
3         0.52        0.33        0.37        0.35        0.22        0.27
4         0.08        0.05        0.04        0.05        0.04        0.05
5         0.11        0.07        0.10        0.10        0.06        0.05
6         0.13        0.11        0.12        0.12        0.13        0.14
7         0.06        0.05        0.05        0.03        0.04        0.05
8         0.16        0.26        0.18        0.19        0.19        0.16
9         0.09        0.12        0.09        0.09        0.17        0.27
10        0.24        0.27        0.64        0.58        0.61        0.65
11        0.03        0.03        0.02        0.02        0.03        0.02
12        0.23        0.30        0.15        0.13        0.15        0.10
13        0.00        0.00        0.00        0.18        0.12        0.09
14        0.00        0.00        0.00        0.00        0.00        0.01
15        0.00        0.00        0.00        0.00        0.00        0.03
16        0.00        0.00        0.00        0.00        0.00        0.00
17        0.00        0.00        0.00        0.00        0.00        0.00
18        0.04        0.04        0.04        0.05        0.06        0.00
19     2143.00     1610.00     1655.00     1575.00     1637.00     1670.00
20     2143.00     1610.00     1655.00     1575.00     1637.00     1670.00

    2020-11-02  2021-11-01  2022-11-07
0         0.61        0.47        0.39
1         0.22        0.23        0.37
2         0.11        0.16        0.12
3         0.55        0.45        0.68
4         0.03        0.10        0.11
5         0.04        0.07        0.10
6         0.12        0.12        0.08
7         0.08        0.05        0.06
8         0.10        0.17        0.16
9         0.21        0.39        0.26
10        0.47        0.29        0.19
11        0.01        0.04        0.02
12        0.10        0.10        0.10
13        0.05        0.08        0.10
14        0.01        0.01        0.01
15        0.04        0.04        0.03
16        0.00        0.00        0.00
17        0.00        0.00        0.00
18        0.00        0.00        0.00
19     1683.00     1802.00     1762.00
20     1683.00     1802.00     1762.00

In [137]:
data.head()

,Issues,2011-11-01,2012-11-06,2013-11-05,2014-11-11,2015-12-18,2016-11-01,2017-11-28,2018-11-05,2019-11-04,2020-11-02,2021-11-01,2022-11-07
0,Health,0.23,0.27,0.26,0.39,0.39,0.33,0.42,0.37,0.38,0.61,0.47,0.39
1,Immigration & Asylum,0.48,0.46,0.55,0.55,0.63,0.47,0.32,0.27,0.23,0.22,0.23,0.37
2,Crime,0.24,0.21,0.13,0.10,0.11,0.10,0.12,0.24,0.26,0.11,0.16,0.12
3,The economy,0.80,0.74,0.63,0.52,0.33,0.37,0.35,0.22,0.27,0.55,0.45,0.68
4,Tax,0.11,0.18,0.11,0.08,0.05,0.04,0.05,0.04,0.05,0.03,0.10,0.11

In [138]:
issue=data['Issues'].unique()

In [139]:
print(issue)

['Health' 'Immigration & Asylum' 'Crime' 'The economy' 'Tax' 'Pensions'
 'Education' 'Family life & childcare' 'Housing' 'The environment'
 'Britain leaving the EU' 'Transport' 'Welfare benefits'
 'Defence and security' 'None of these' "Don't know" 'Afghanistan'
 'Defence and Terrorism' "Don't know / None of these" 'Unweighted base'
 'Base']

In [140]:
data1 = data.sample(frac=1, axis=1).sample(frac=1).reset_index(drop=True)
data1.head()

,2018-11-05,2022-11-07,2020-11-02,2015-12-18,2011-11-01,2016-11-01,2013-11-05,2014-11-11,2019-11-04,2021-11-01,Issues,2012-11-06,2017-11-28
0,0.13,0.08,0.12,0.11,0.12,0.12,0.14,0.13,0.14,0.12,Education,0.16,0.12
1,0.00,0.00,0.00,0.00,0.04,0.00,0.00,0.00,0.00,0.00,Afghanistan,0.06,0.00
2,0.04,0.11,0.03,0.05,0.11,0.04,0.11,0.08,0.05,0.10,Tax,0.18,0.05
3,0.00,0.03,0.04,0.00,0.00,0.00,0.00,0.00,0.03,0.04,Don't know,0.00,0.00
4,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Defence and Terrorism,0.00,0.00

In [141]:
data1=data1.set_index('Issues')
data1.head()

,2018-11-05,2022-11-07,2020-11-02,2015-12-18,2011-11-01,2016-11-01,2013-11-05,2014-11-11,2019-11-04,2021-11-01,2012-11-06,2017-11-28
Issues,,,,,,,,,,,,
Education,0.13,0.08,0.12,0.11,0.12,0.12,0.14,0.13,0.14,0.12,0.16,0.12
Afghanistan,0.00,0.00,0.00,0.00,0.04,0.00,0.00,0.00,0.00,0.00,0.06,0.00
Tax,0.04,0.11,0.03,0.05,0.11,0.04,0.11,0.08,0.05,0.10,0.18,0.05
Don't know,0.00,0.03,0.04,0.00,0.00,0.00,0.00,0.00,0.03,0.04,0.00,0.00
Defence and Terrorism,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [142]:
data1.loc['Defence and security']

2018-11-05    0.12
2022-11-07    0.10
2020-11-02    0.05
2015-12-18    0.00
2011-11-01    0.00
2016-11-01    0.00
2013-11-05    0.00
2014-11-11    0.00
2019-11-04    0.09
2021-11-01    0.08
2012-11-06    0.00
2017-11-28    0.18
Name: Defence and security, dtype: float64

In [143]:
data1.loc['Defence and Terrorism']

2018-11-05    0.0
2022-11-07    0.0
2020-11-02    0.0
2015-12-18    0.0
2011-11-01    0.0
2016-11-01    0.0
2013-11-05    0.0
2014-11-11    0.0
2019-11-04    0.0
2021-11-01    0.0
2012-11-06    0.0
2017-11-28    0.0
Name: Defence and Terrorism, dtype: float64

In [144]:
data1=data1.drop('Defence and Terrorism')
data1.head()

,2018-11-05,2022-11-07,2020-11-02,2015-12-18,2011-11-01,2016-11-01,2013-11-05,2014-11-11,2019-11-04,2021-11-01,2012-11-06,2017-11-28
Issues,,,,,,,,,,,,
Education,0.13,0.08,0.12,0.11,0.12,0.12,0.14,0.13,0.14,0.12,0.16,0.12
Afghanistan,0.00,0.00,0.00,0.00,0.04,0.00,0.00,0.00,0.00,0.00,0.06,0.00
Tax,0.04,0.11,0.03,0.05,0.11,0.04,0.11,0.08,0.05,0.10,0.18,0.05
Don't know,0.00,0.03,0.04,0.00,0.00,0.00,0.00,0.00,0.03,0.04,0.00,0.00
Transport,0.03,0.02,0.01,0.03,0.02,0.02,0.04,0.03,0.02,0.04,0.04,0.02

In [145]:
data1.index

Index(['Education', 'Afghanistan', 'Tax', 'Don't know', 'Transport',
       'Welfare benefits', 'The economy', 'Housing', 'None of these',
       'Family life & childcare', 'Immigration & Asylum',
       'Britain leaving the EU', 'Pensions', 'Don't know / None of these',
       'Unweighted base', 'Base', 'Crime', 'Health', 'Defence and security',
       'The environment'],
      dtype='object', name='Issues')

In [146]:
data1=data1.drop(["Don't know / None of these",'Afghanistan',"Base",'Welfare benefits','Family life & childcare','Unweighted base',"Don't know"])
data1.head()

,2018-11-05,2022-11-07,2020-11-02,2015-12-18,2011-11-01,2016-11-01,2013-11-05,2014-11-11,2019-11-04,2021-11-01,2012-11-06,2017-11-28
Issues,,,,,,,,,,,,
Education,0.13,0.08,0.12,0.11,0.12,0.12,0.14,0.13,0.14,0.12,0.16,0.12
Tax,0.04,0.11,0.03,0.05,0.11,0.04,0.11,0.08,0.05,0.10,0.18,0.05
Transport,0.03,0.02,0.01,0.03,0.02,0.02,0.04,0.03,0.02,0.04,0.04,0.02
The economy,0.22,0.68,0.55,0.33,0.80,0.37,0.63,0.52,0.27,0.45,0.74,0.35
Housing,0.19,0.16,0.10,0.26,0.00,0.18,0.15,0.16,0.16,0.17,0.00,0.19

In [147]:
data1.index

Index(['Education', 'Tax', 'Transport', 'The economy', 'Housing',
       'None of these', 'Immigration & Asylum', 'Britain leaving the EU',
       'Pensions', 'Crime', 'Health', 'Defence and security',
       'The environment'],
      dtype='object', name='Issues')

In [152]:
data2 = data1.T
data2.head()

Issues,Education,Tax,Transport,The economy,Housing,None of these,Immigration & Asylum,Britain leaving the EU,Pensions,Crime,Health,Defence and security,The environment
2018-11-05,0.13,0.04,0.03,0.22,0.19,0.00,0.27,0.61,0.06,0.24,0.37,0.12,0.17
2022-11-07,0.08,0.11,0.02,0.68,0.16,0.01,0.37,0.19,0.10,0.12,0.39,0.10,0.26
2020-11-02,0.12,0.03,0.01,0.55,0.10,0.01,0.22,0.47,0.04,0.11,0.61,0.05,0.21
2015-12-18,0.11,0.05,0.03,0.33,0.26,0.00,0.63,0.27,0.07,0.11,0.39,0.00,0.12
2011-11-01,0.12,0.11,0.02,0.80,0.00,0.00,0.48,0.29,0.23,0.24,0.23,0.00,0.07

In [154]:
data2.dtypes

Issues
Education                 float64
Tax                       float64
Transport                 float64
The economy               float64
Housing                   float64
None of these             float64
Immigration & Asylum      float64
Britain leaving the EU    float64
Pensions                  float64
Crime                     float64
Health                    float64
Defence and security      float64
The environment           float64
dtype: object

In [157]:
data3=data2.select_dtypes(exclude=['object', 'datetime']) * 100

In [158]:
data3.to_csv("Important_Issues1.csv")